AddType application/javascript .js
AddType application/javascript .mjs

<IfModule mod_mime.c>
  AddType text/javascript .js
  AddType text/javascript .mjs
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|mjs)$">
    Header set Content-Type "application/javascript"
  </FilesMatch>
</IfModule>
